language: node_js

node_js:
  - stable

install:
  - npm install

script:
  - npm run lint
  # - npm test
  - npm run build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: dist
  keep_history: true
  on:
    branch: master
